@import url("layout.css");
@import url("buttons.css");

:root {
  --color-text: #0d0b1b;
  --color-bg: #e4fdff;
  --color-primary: #808ac9;
  --color-secondary: #dee2fe;
  --color-accent: #aed1aa;
  --color-accent-2: #9cd7cb;

  --font-heading: "Delicious Handrawn", sans-serif;
  --font-default: "Rubik", sans-serif;

  font-size: calc(10px + 0.5vw);
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: var(--font-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

u {
  position: relative;
  text-decoration: none;
  text-wrap: nowrap;
}

u::before {
  content: "";
  background-image: url("/images/underline.svg");
  display: block;
  position: absolute;
  width: 100%;
  height: 3rem;
  top: calc(100% - 1rem);
  left: 0;
  pointer-events: none;
  background-repeat: repeat-x;
  background-size: auto 3rem;
}
